[submodule "cmake-modules"]
	path = cmake-modules
	url = https://github.com/jedbrown/cmake-modules.git
[submodule "rescience-rollingpitching"]
	path = rescience-rollingpitching
	url = https://github.com/barbagroup/rescience-rollingpitching.git
